/* style */

* {
    box-sizing: border-box;
    margin: 0;  
    padding: 0;
}

html {
width: 100%;
height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(media/turtle_background.jpg);
    background-position: center;
    background-size: 200%;
    background-repeat: no-repeat;
}

input, textarea, select, button {
    width : 300px;
    margin: 0;
  
    -webkit-box-sizing: border-box; 
       -moz-box-sizing: border-box; 
            box-sizing: border-box;
}


/*-------------Header---------*/

header {
    height: 20%;
}

#hd_env {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-size: 2vh;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: transparent;
}

#hd_env:hover {
    background-color: #7FA62D;
}

#hd_env a {
    text-decoration: none;
    color: white;
}

#hd_logo {
    width: 25%;
    text-align: right;
}

#hd_logo img {
    width: 25%;
    background-color: #7FA62D;
    border-radius: 20px;
}

#titre_site {
    width: 25%;
    padding-left: 2%;
}

#hd_compte {
    width: 50%;
    text-align: center;
    display: block;
}

/*-------------Naviguation---------*/

#top_nav {
    height: 100%;
    width: 100%;
}

#top_nav a {
    text-decoration: none;
    color: white;
}

#top_liste {
    display: flex;
    justify-content: space-evenly;
    height: 80px; 
    align-items: center; 
}

#top_liste li {
    padding-right: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    list-style: none
}

#top_liste a:hover {
    color: brown;
    border-bottom: 1px solid brown;
}


/* body formulaire */

.core {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    padding-top: 5%;
    text-align: center;
}

#presentation_div {
    padding:5%;
}

#sexe_div {
    padding-top: 5%;
}


.bouton input {
    display: flex;
}

label {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    color: white;
    padding-bottom: 5px;
}

input {
    border: 1px solid rgba(36,28,21,0.3);
    border-radius: 5px;
    transition: all 0.2s ease-in-out 0s;
    align-content: center;
    background-color:#7FA62D;
} 

fieldset {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.sign_in {
    padding-top: 10px;
}

#submit_bt {
    padding-top: 10px;
}

legend {
    background-color:#7FA62D ;
    border-radius: 5px;
    margin: auto;
    width: 25%;
    text-align: center;
}

#birth_date {
    text-align: start;
    padding-top: 10px;
    padding-bottom: 10px;
}

#birth {
    margin-left: 29%;
}

/*-------------Footer-------*/

footer {
    height: 10%;
    margin-top: 10%;
}

.bot_sous_titre  {
    font-family: Arial, Helvetica, sans-serif, sans-serif;  
    font-size: 2vh;
    color: black;
}

#ft_pin {
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
    background-color: #7FA62D;
}


#ft_pin ul {
    padding-top: 15px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;    
} 

#ft_pin a {
    text-decoration: none;
    color: white;
    padding-top: 10px;
}

#ft_pin li {
    padding-top: 5px;
}

#bot_liste_3  {
    display: flex;
    justify-content: space-evenly;
}

